@model IEnumerable<ZenithWebSite.Models.Zenith.Event>

@{
    ViewData["Title"] = "Manage Events";
}

<h2>Manage Events</h2>

<p>
    <a asp-action="Create">Create A New Event</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EventFromDatetime)
            </th>
            <th>Event Date</th>
            <th>Event Time</th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Activity.ActivityDescription)
                </td>
                <td>@item.EventFromDatetime.DayOfWeek @item.EventFromDatetime.ToString("MMMM") @item.EventFromDatetime.Day, @item.EventFromDatetime.Year</td>
                <td>@item.EventFromDatetime.ToString("hh:mm tt") - @item.EventToDatetime.ToString("hh:mm tt")</td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.EventId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.EventId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.EventId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
