@model ZenithWebSite.Models.Zenith.Activity

@{
    ViewData["Title"] = "Activity Details";
}

<h2>Activity Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ActivityCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ActivityCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ActivityDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ActivityDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ActivityId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
